
body, html {
  width:100%;
  margin:0px;
  padding:0px;
  height: 100%;
  overflow-x:hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items:stretch;
  width:100%;
  margin:0px;
  padding:0px;
 
}

.main-content {
  margin:0px;
  padding:0px;
  width:100%;
  flex: 1;
  /* background-color: rgb(3, 62, 90); */
  background-color:black;
  display:flex;
  flex-direction: column;
}